* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  color: black;
}
.background{
  display: inline-flex;
  justify-content: space-around;
}
nav {
  justify-content: center;
  display: flex;
  font-size: 40px;
  color: aqua;
  background-color: rgb(36, 31, 6);
  padding: 25px;
  font-weight: bold;
}
nav:hover {
  text-decoration: underline 2px lime;
  color: #4ff502;
}
.background {
  background-image: url(../images/cow.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.shed {
  max-height: 15%;
  max-width: max-content;
}
#shed_A {
  color: cyan;
  font-style: oblique;
}

.displayresults {
  background-color: rgba(135, 175, 235, 0.527);
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
}
.income{
  background-color: rgba(100, 60, 138, 0.466);
  width: 30%;
  height: 100%;
}
.report{
  background-color: #3e9c124d;
  height: 100%;
  width: 30%;
}
.datainput{
  width: 30%;
  background-color: rgba(218, 165, 32, 0.295);

}
.week{
  background-color: rgba(30, 210, 201, 0.753);
  border-radius: 10px;
}
.year{
  background-color: rgba(30, 210, 201, 0.753) ;
  border-radius: 10px;
}